<% layout("layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="alert alert-warning mt-3 col-8" role="alert">
            <p><%=message%></p> 
            </div>
    </div>
   
</body>